body{
    background-color: #f1dee0;
    
  }
.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 7ch;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fe445b; /* The background color for the entire table */
}
td {
    vertical-align: top;
    height: 44ch;
    padding: 20px;
}
#login {
    background-color: #fcfcfc; /* The Background color for the login cell */
    width: 50%;
}
#content {
    text-align: center;
    color: #fff;
}
#content h2 {
    color: #fff;
    } 
    

.conter{ 
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: 799;
    margin-top: 4ch;

}
.login{
    color: black;
    font-size: xx-large;
   font-weight: 799;
   text-align: center;
}
.center{
    text-align: center;
    color: #5c5c5c;
}
.i{
    padding: 2ch;
    padding-bottom: 7ch;
    text-align: center;
}
.fa-brands{
    color: black;
}

.fa-brands:hover{
    color: blue;
}

input{
   background-color: #d3d2d2;
   padding: 1.1ch;
   padding-left: 1ch;
   padding-right: 11ch;
   margin-left: 7ch;
   margin-bottom: 1.5ch;
}
input:hover{
    background-color: white;

}
.forgot1{
    text-decoration: none;
    color: #5c5c5c;
    text-align: center; 
}
.forgot1:hover{
    color: red;
}
button{
    background-color: #ff4b32;
    padding: 10px 25px; 
    font-size: 18px; 
    border-top: 2px solid #ff4b32; 
    border-bottom: 2px solid #ff4b32;
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent; 
    border-radius: 20px;
    cursor: pointer;
   color: white;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 1ch;
   
}
button:hover{
    color:  #ff4b32;
    background-color: black;
    border-color: black;

}
.h1{
    color: black;
    margin-top: 21%;
    text-align: center;
}